/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

/* #region Variables */
:root {
    /* Header */
    --header-bg-color: #ff6900;

    /* Main section */
    --main-section-bg-color: white;

    /* Products */
    --product-card-bg-color: #eaeaea;

    --product-discount-bg-color: red;

    --product-sustainability-bg-color: #008000;

    /* Footer */
    --footer-bg-color: #1a1a1a;
}
/* #endregion Variables */

/* Debug */
.debug {
    * {
        border: 1px solid red;
    }
}

/* region Utility */
.container {
    margin: 0 auto;
    max-width: 1300px;
}

/* Flex */
.d-flex {
    display: flex;
    &.justify-content-between {
        justify-content: space-between;
    }
    &.align-items-center {
        align-items: center;
    }
}
/* endregion Utility */

body {
    /* Globals */
    img {
        width: 100%;
    }

    header, footer {
        color: white;
        a {
            color: white;
        }
    }

    /* #region Header */
    header {
        padding: 1rem;
        background-color: var(--header-bg-color);
        #main-menu {
            #boolean-logo-container {
                width: 10rem;
            }
            .product-category-links {
                column-gap: 0.25rem;
            }
            .account-links {
                column-gap: 0.5rem;
            }
        }
    }
    /* #endregion Header */

    /* #region Main */
    main {
        background-color: var(--main-section-bg-color);
    }
    /* #endregion Main */

    /* #region Footer */
    footer {
        padding: 2rem;
        background-color: var(--footer-bg-color);
        h5, h6 {
            padding-bottom: 0.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 1rem;
        }
        #legal-links {
            column-gap: 0.5rem;
        }
        #social-links {
            column-gap: 0.75rem;
            a {
                font-size: 1.5rem;
            }
        }
    }
    /* #endregion Footer */
}