/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

/* #region Variables */
:root {
    /* Header */
    --header-bg-color: #ff6900;

    /* Main section */
    --main-section-padding: 8rem 0 4rem;
    --main-section-bg-color: white;

    /* Footer */
    --footer-bg-color: #1a1a1a;

    /* Products */
    --products-section-columns: 3;
    --products-section-row-gap: 3rem;
    --products-section-column-gap: 1rem;

    --product-favorite-button-bg-color: white;
    --product-favorite-button-text-color:black;

    --product-discount-percentage-bg-color: red;
    --product-discount-percentage-text-color: white;

    --product-sustainability-bg-color: #008000;
    --product-sustainability-text-color: white;

    --product-brand-bg-color: transparent;
    --product-brand-text-color: black;

    --product-title-bg-color: transparent;
    --product-title-text-color: black;
    
    --product-price-primary-bg-color: transparent;
    --product-price-primary-text-color: red;

    --product-price-secondary-text-color: black;
    --product-price-secondary-bg-color: transparent;
/* #endregion Variables */
}

/* Debug */
.debug {
    * {
        border: 1px solid red;
    }
}

/* region Utility */
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;
}

/* Flex */
.d-flex {
    display: flex;
    &.justify-content-between {
        justify-content: space-between;
    }
    &.align-items-center {
        align-items: center;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
}

/* Positioning */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

/* Sizes */
.col-4 {
    width: calc( ( ( 100% - ( var(--products-section-column-gap) * ( var(--products-section-columns) - 1 ) ) ) / 12 ) * 4 );
}

/* Text */
.text-uppercase {
    text-transform: uppercase;
}

.text-decoration-line-through {
    text-decoration-line: line-through;
}

.font-weight-bold {
    font-weight: bold;
}
/* endregion Utility */

body {
    /* Globals */
    img {
        display: block;
        width: 100%;
    }

    header, footer {
        color: white;
        a {
            color: white;
        }
    }

    /* #region Header */
    header {
        width: 100%;
        z-index: 1000;
        padding: 1rem;
        background-color: var(--header-bg-color);
        #main-menu {
            #boolean-logo-container {
                width: 10rem;
            }
            .product-category-links {
                column-gap: 0.25rem;
                a {
                    font-weight: bold;
                }
            }
            .account-links {
                column-gap: 0.5rem;
            }
        }
    }
    /* #endregion Header */

    /* #region Main */
    main {
        padding: var(--main-section-padding);
        background-color: var(--main-section-bg-color);
        #products-section {
            row-gap: var(--products-section-row-gap);
            column-gap: var(--products-section-column-gap);
            .product-item {
                .product-card {
                    .product-images {
                        .product-image-secondary {
                            top: 0;
                            left: 0;
                            z-index: -1;
                        }
                    }
                    .product-favorite-button {
                        z-index: 100;
                        top: 1rem;
                        right: 0;
                        padding: 0.25rem 1rem;
                        font-size: 2.5rem;
                        background-color: var(--product-favorite-button-bg-color);
                        color: var(--product-favorite-button-text-color);
                    }
                    .product-labels {
                        z-index: 100;
                        column-gap: 0.25rem;
                        left: 0;
                        bottom: 3rem;
                        * {
                            padding: 0.25rem 0.75rem;
                        }
                        .product-discount-percentage, .product-sustainability {
                            &:empty {
                                display: none;
                            }
                        }
                        .product-discount-percentage {
                            font-weight: bold;
                            background-color: var(--product-discount-percentage-bg-color);
                            color: var(--product-discount-percentage-text-color);
                        }
                        .product-sustainability {
                            font-weight: bold;
                            background-color: var(--product-sustainability-bg-color);
                            color: var(--product-sustainability-text-color);
            
                        }
                    }
                }
                .product-information {
                    .product-brand {
                        background-color: var(--product-brand-bg-color);
                        color: var(--product-brand-text-color);
                    }
                    .product-title {
                        text-transform: uppercase;
                        font-weight: bold;
                        background-color: var(--product-title-bg-color);
                        color: var(--product-title-text-color) ;
                    }
                    .product-prices {
                        column-gap: 0.25rem;
                        .product-price-primary, .product-price-secondary {
                            font-weight: bold;
                            &:empty {
                                display: none;
                            }
                        }
                        .product-price-primary {
                            background-color: var(--product-price-primary-bg-color);
                            color:  var(--product-price-primary-text-color);
                        }
                        .product-price-secondary {
                            background-color: var(--product-price-secondary-bg-color);
                            color:  var(--product-price-secondary-text-color);
                        }
                    }
                }
                &:hover {
                    .product-card {
                        .product-images {
                            .product-image-secondary {
                                z-index: 1;
                            }
                        }
                        .product-favorite-button {
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
        .product-details {
            .product-image {
                margin: 0 auto;
                width: 25%;
            }
            .product-description {
                margin-top: 1rem;
                font-size: 1.25rem;
            }
        }
    }
    /* #endregion Main */

    /* #region Footer */
    footer {
        padding: 2rem;
        background-color: var(--footer-bg-color);
        h5, h6 {
            padding-bottom: 0.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 1rem;
        }
        #legal-links {
            column-gap: 0.5rem;
        }
        #social-links {
            column-gap: 0.75rem;
            a {
                font-size: 1.5rem;
            }
        }
    }
    /* #endregion Footer */
}